/*!CK:1097861321!*//*1451460447,*/

._358{border-radius:3px;box-sizing:border-box;cursor:pointer;display:inline-block;padding:1px;vertical-align:middle}._358:hover{background-color:rgba(0, 0, 0, .05)}._26n6{max-height:initial;padding:1px 2px}

#bootloader_q4UA4{height:42px;}.bootloader_q4UA4{display:block!important;}