/*!CK:1530934323!*//*1451978240,*/

.uiStreamSubstory .storyInnerContent .rfloat._3lt{margin-right:25px}._3lt .uiButton{margin-left:0}
._5lzo.profileHeaderButton{margin:7px 0 0 10px}._5rz0{margin-left:3px;margin-right:3px}._5rz1._5rz2.img{margin-top:2px}.uiButtonGroup .buttonItem ._5ry_.uiButtonOverlay:focus,.uiButtonGroup .buttonItem ._5lzj.uiButtonOverlay:focus{background-image:url(/rsrc.php/v2/yz/r/UN55KPI94Te.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;border-color:transparent}
._52m-{display:inline-block;vertical-align:middle}span._52m- ._3spg{margin-left:0}

#bootloader_N69Qb{height:42px;}.bootloader_N69Qb{display:block!important;}