/*!CK:4146942039!*//*1451978828,*/

._4o-e a{z-index:1}._4o-d,._4o-e a,._4bm_{position:relative;word-break:break-word}._4o-g:hover{background-color:#f6f7f8;text-decoration:none}html ._4o-d ._4o-f{bottom:0;cursor:pointer;left:0;position:absolute;right:0;top:0;z-index:0}._4bm_{top:2px}
.sp_oFXxmg_EFzl{background-image:url(/rsrc.php/v2/ys/r/ca0QgPPUsds.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_oFXxmg_EFzl.sx_07746e{background-position:0 0}.sp_oFXxmg_EFzl.sx_d24499{width:12px;height:12px;background-position:0 -17px}

#bootloader_XVtcC{height:42px;}.bootloader_XVtcC{display:block!important;}