
<div class="container">
 <div class="col-sm-offset-4 col-lg-4">
	<form class="form-signin" ng-submit="login()">
		<h2 class="form-signin-heading">Please sign in</h2>
		<label for="inputEmail" class="sr-only">Username</label> <input
			type="text" ng-model="username" id="username" name="username"
			class="form-control" placeholder="Username" required autofocus>
		<label for="inputPassword" class="sr-only">Password</label> <input
			type="password" ng-model="password" id="password" name="password"
			class="form-control" placeholder="Password" required>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
			in</button>
	</form>
</div>
</div>
<!-- /container -->
