
<div class="container">
	<div class="col-sm-offset-4 col-lg-4">
		<form class="form-signin">
			<h2 class="form-signin-heading">Create new account</h2>
			<label for="inputEmail" class="sr-only">Username</label> <input
				type="text" ng-model="username" id="username" name="username"
				class="form-control" placeholder="Username" required autofocus>
				</br>
			<label for="inputPassword" class="sr-only">Password</label> <input
				type="password" ng-model="password" id="password" name="password"
				class="form-control" placeholder="Password" required> 
				</br>
			<label
				for="inputPassword" class="sr-only">Repeat password</label> <input
				type="password" ng-model="password2" id="password2" name="password2"
				class="form-control" placeholder="Password repeat" required>
				</br>
			<label
				for="inputPassword" class="sr-only">First name</label> <input
				type="text" ng-model="first_name" id="name" name="name"
				class="form-control" placeholder="First name">
				</br>
			<label
				for="inputPassword" class="sr-only">Last name</label> <input
				type="text" ng-model="last_name" id="name" name="name"
				class="form-control" placeholder="Last name">
				</br>
			<label for="inputEmail" class="sr-only">E-mail</label> <input
				type="email" ng-model="email" id="email" name="email"
				class="form-control" placeholder="E-mail" required>
				</br>
			<button class="btn btn-lg btn-primary btn-block" ng-click="register()">Create account</button> </br>
		</form>
		<button class="btn btn-lg btn-info btn-block" onclick="demo.showNotificationText('top','center', 'This is my notification')">Use demo account</button>
	</div>
</div>
<!-- /container -->
